@tailwind base;
@tailwind components;
@tailwind utilities;

$text: #000000;
$background: #ecdacb;
// $secondary: #1d1d1d;
// $accent: #EFBA1A;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//<------------------------------------------------------ NAVBAR ----------------------------------------------------->

.inner {
  background-color: #ffffff;
  display: flex;
  padding: 0 0.875rem;
  height: auto;
}

.contain {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  margin: 10px 0;
}

.header-left {
  display: flex;
  flex: 1;
  margin-right: auto;
  justify-content: flex-start;
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.logo-temp {
  width: 10rem;
}

.icon {
  font-size: 2rem;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
}

.ul-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.link {
  margin: 0 1rem;
  padding: 0.6rem 0.5rem;
  font-family: "Founders Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text;
  text-decoration: none;
}

// .list{
//     margin: 0 .5rem .5rem 0;
//     position: relative;
//     cursor: pointer;
// }

// .list::after{
//     content: '';
//     width: 100%;
//     height: 4px;
//     border-radius: 2rem;
//     background-color: black;
//     position: absolute;
//     left: 0;
//     bottom: -8px;
//     opacity: 0;
//     // transition: all 0.2s;
//     pointer-events: none;
// }

// .list:hover::after{
//     opacity: 1;
// }

@media (max-width: 1040px) {
  .list {
    margin: 0 0;
  }
}

@media (max-width: 1040px) {
  .link {
    margin: 0 0.6rem;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $text;
}

@media (max-width: 786px) {
  .nav-container {
    justify-content: end;
    padding-right: 1.6rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .ul-container {
    position: absolute;
    left: -100%;
    top: 5rem;
    padding: 3rem 0;
    justify-content: flex-start;
    gap: 0;
    flex-direction: column;
    background-color: rgb(213, 213, 213);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .list {
    margin: 16px 0;
  }

  .ul-container.active {
    left: 0;
  }
}

@media (max-width: 430px) {
  .ul-container {
    top: 4rem;
    width: 50%;
  }
  .list {
    margin: 14px 0;
  }
  .nav-container{
    width: 50%;
    justify-content: start;
    padding-left: 1.6rem;
  }
}

.cloth-content {
  position: relative;
}

.cloth-block {
  display: none;
  left: 0;
  width: 100dvw;
  background-color: $background;
  border-radius: 4px;
  padding: 2rem 4.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  transition: 0.3s ease;
  z-index: 999;
}

.clothing-container:hover:hover .cloth-block {
  display: flex;
  position: fixed;
}
@media (max-width: 768px) {
  .clothing-container:hover:hover .cloth-block {
    display: block;
    position: static;
  }
}

.block-img {
  width: 13rem;
}
.titles {
  min-width: 8rem;
  margin-right: 8rem;
}
.titles > li {
  margin: 0.3rem 0;
  font-size: 1.25rem;
  cursor: pointer;
}
.heading {
  font-weight: bolder;
}
.card {
  cursor: pointer;
  width: 14rem;
}
.cards-container {
  gap: 2rem;
}

@media (max-width: 1024px) {
  .titles {
    min-width: 6rem;
    margin-right: 2rem;
  }
  .cards {
    width: 11rem;
  }
  .cards-container {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .cloth-block {
    flex-direction: column;
    left: 0rem;
  }
  .titles {
    margin: 0;
  }
}

@media (max-width: 426px) {
  .cloth-block {
    width: 50dvw;
    padding: 1rem;
  }
  .cards-container {
    display: none;
  }
  .titles > li {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .cloth-block {
    left: -8.7rem;
  }
}

@media (max-width: 376px) {
  .cloth-block {
    left: -8.1rem;
  }
}

@media (max-width: 360px) {
  .cloth-block {
    left: -7.6rem;
  }
}

@media (max-width: 340px) {
  .cloth-block {
    left: -7rem;
  }
}

@media (max-width: 321px) {
  .cloth-block {
    left: -6.45rem;
  }
}
@media (max-width: 300px) {
  .cloth-block {
    left: -5.6rem;
  }
}
